<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userservice.mapper.MemberMapper">

    <resultMap id="memberResultMap" type="com.example.userservice.entity.Member">
        <id property="memberId" column="member_id"/>
        <result property="memberEmail" column="member_email"/>
        <result property="memberPassword" column="member_password"/>
        <result property="memberNickname" column="member_nickname"/>
        <result property="memberName" column="member_name"/>
        <result property="memberPhoneNumber" column="member_phone_number"/>
        <result property="memberIsDelete" column="member_is_delete"/>
        <result property="memberRole" column="member_role"/>
        <result property="memberCreatedAt" column="member_created_at"/>
        <result property="memberUpdatedAt" column="member_updated_at"/>
    </resultMap>

    <insert id="save" parameterType="com.example.userservice.entity.Member" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO member
        (
            member_email,
            member_password,
            member_nickname,
            member_name,
            member_phone_number,
            member_is_delete,
            member_role
        ) values (
             #{memberEmail},
             #{memberPassword},
             #{memberNickname},
             #{memberName},
             #{memberPhoneNumber},
             false,
             'USER'
         )
    </insert>

    <select id="findUserNicknameByMemberId" resultType="java.lang.String">
        select member_nickname
        from member
        where member_id = #{memberId}
        and member_is_delete = false;
    </select>

    <select id="findMemberIdByMemberNickname" resultMap="memberResultMap">
        select
            member_id,
            member_email,
            member_password,
            member_name,
            member_nickname,
            member_phone_number,
            member_is_delete,
            member_role,
            member_created_at,
            member_updated_at
        from member
        where member_nickname = #{memberNickname}
        and member_is_delete = false;
    </select>

    <select id="findUserByMemberEmail" resultMap="memberResultMap">
        select
            member_id,
            member_email,
            member_password,
            member_name,
            member_nickname,
            member_phone_number,
            member_is_delete,
            member_role,
            member_created_at,
            member_updated_at
        from member
        where member_email = #{memberEmail}
    </select>

    <select id="checkNickName" resultType="java.lang.Boolean">
        select exists(
            select 1
            from member
            where member_nickname = #{memberNickname}
        );
    </select>

    <update id="changeMemberNickname">
        update member
        set member_nickname = #{memberNickname}
        where member_id = #{memberId};
    </update>

    <update id="changeMemberPassword">
        update member
        set member_password = #{memberPassword}
        where member_id = #{memberId};
    </update>

    <select id="checkEmail" resultType="java.lang.Boolean">
        select exists(
            select 1
            from member
            where member_email = #{memberEmail}
        );
    </select>

    <select id="findMemberNicknameByMemberIdList" resultMap="memberResultMap">
        select
            member_id,
            member_nickname
        from member
        where member_is_delete = 0 and member_id in
        <foreach collection="list" item="arr" index="idx"
                 open="(" separator="," close=")">
            #{arr}
        </foreach>
    </select>

    <select id="findMemberAll" resultMap="memberResultMap">
        select
            member_id,
            member_email,
            member_password,
            member_name,
            member_nickname,
            member_phone_number,
            member_is_delete,
            member_role,
            member_created_at,
            member_updated_at
        from member
    </select>

    <select id="findMemberById" resultMap="memberResultMap">
        select
            member_id,
            member_email,
            member_password,
            member_name,
            member_nickname,
            member_phone_number,
            member_is_delete,
            member_role,
            member_created_at,
            member_updated_at
        from member
        where member_id = #{memberId}
    </select>

    <select id="findMembersByMemberNickname" resultMap="memberResultMap">
        select
            member_id,
            member_email,
            member_password,
            member_name,
            member_nickname,
            member_phone_number,
            member_is_delete,
            member_role,
            member_created_at,
            member_updated_at
        from member
        where member_nickname like CONCAT('%', #{memberNickname}, '%')
    </select>

    <delete id="deleteMember">
        delete from member
        where member_id = #{memberId}
    </delete>
</mapper>