<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userservice.mapper.MemberMapper">

    <resultMap id="memberResultMap" type="com.example.userservice.entity.Member">
        <id property="memberId" column="member_id"/>
        <result property="memberEmail" column="member_email"/>
        <result property="memberPassword" column="member_password"/>
        <result property="memberNickname" column="member_nickname"/>
        <result property="memberName" column="member_name"/>
        <result property="memberPhoneNumber" column="member_phone_number"/>
        <result property="memberRefreshToken" column="member_refresh_token"/>
        <result property="memberIsDelete" column="member_is_delete"/>
        <result property="memberRole" column="member_role"/>
        <result property="memberCreatedAt" column="member_created_at"/>
        <result property="memberUpdatedAt" column="member_updated_at"/>
    </resultMap>

    <select id="findMemberByMemberEmail" resultMap="memberResultMap">
        select
            member_id,
            member_email,
            member_password,
            member_nickname,
            member_name,
            member_phone_number,
            member_role,
            member_created_at,
            member_updated_at
        from member
        where member_email = #{memberEmail}
    </select>
</mapper>