<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userboardservice.mapper.BoardStarMapper">

    <resultMap id="commentResultMap" type="com.example.userboardservice.entity.BoardStar">
        <id property="boardStarId" column="board_star_id"/>
        <result property="boardId" column="board_id"/>
        <result property="boardStarType" column="board_star_type"/>
        <result property="boardStarShortReview" column="board_star_short_review"/>
        <result property="boardStarRating" column="board_star_rating"/>
        <result property="sortNo" column="sort_no"/>
    </resultMap>

    <insert id="boardStarSaveAll" parameterType="com.example.userboardservice.entity.BoardStar">
        insert into board_star
        (
            board_id,
            board_star_type,
            board_star_short_review,
            board_star_rating,
            sort_no
        ) values
        <foreach collection="boardStars" index="idx" item="item" separator=",">
            (
            #{item.boardId},
            #{item.boardStarType},
            #{item.boardStarShortReview},
            #{item.boardStarRating},
            #{item.sortNo}
            )
        </foreach>
    </insert>
</mapper>