<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userboardservice.mapper.BoardMapper">

    <resultMap id="boardResultMap" type="com.example.userboardservice.entity.Board">
        <id property="boardId" column="board_id" />
        <result property="memberId" column="member_id"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardRegion" column="board_region"/>
        <result property="boardContent" column="board_content"/>
        <result property="boardView" column="board_view"/>
        <result property="boardCreatedAt" column="board_created_at"/>
        <result property="boardUpdatedAt" column="board_updated_at"/>
        <result property="boardIsDelete" column="board_is_delete"/>
        <collection property="stars" ofType="com.example.userboardservice.entity.BoardStar">
            <id property="boardStarId" column="board_star_id"/>
            <result property="boardId" column="board_star_board_id"/>
            <result property="boardStarType" column="board_star_type"/>
            <result property="boardStarShortReview" column="board_star_short_review"/>
            <result property="boardStarRating" column="board_star_rating"/>
        </collection>
    </resultMap>

    <insert id="save" parameterType="com.example.userboardservice.entity.Board" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board
        (
            member_id,
            board_title,
            board_region,
            board_content,
            board_view,
            board_is_delete
        ) values (
             #{memberId},
             #{boardTitle},
             #{boardRegion},
             #{boardContent},
            0,
            false
         )
    </insert>

    <select id="countTotalBoards" resultType="java.lang.Integer">
        select count(board_id)
        from msa_board.board
        where board_is_delete = 0
        <if test="searchType == '지역'">
            and board_region = #{searchText}
        </if>
        <if test="searchType == '제목'">
            and board_title like CONCAT('%', #{searchText}, '%')
        </if>
    </select>

    <select id="getBoardIdsByBasic" resultType="java.lang.Integer">
        select board_id
        from board
        where board_is_delete = 0
        <if test="'지역'.equals(searchType)">
            and board_region = #{searchText}
        </if>
        <if test="'제목'.equals(searchType)">
            and board_title like CONCAT('%', #{searchText}, '%')
        </if>
        order by board_created_at desc
        limit 5 offset #{offset}
    </select>

    <select id="getBoardsByBoardIdList" resultMap="boardResultMap">
        select b.board_id,
                b.member_id,
                b.board_title,
                b.board_content,
                b.board_region,
                b.board_view,
                b.board_updated_at,
                b.board_created_at,
                bs.board_star_type,
                bs.board_star_short_review,
                bs.board_star_rating
        from board b
        join board_star bs on b.board_id = bs.board_id
        where b.board_is_delete = 0 and b.board_id in
        <foreach collection="list" item="arr" index="idx"
                 open="(" separator="," close=")">
            #{arr}
        </foreach>
        order by bs.sort_no
    </select>

    <select id="findBoardByBoardId" resultMap="boardResultMap">
        select b.board_id,
               b.member_id,
               b.board_title,
               b.board_content,
               b.board_region,
               b.board_view,
               b.board_updated_at,
               b.board_created_at,
               bs.board_star_id,
               bs.board_star_type,
               bs.board_star_short_review,
               bs.board_star_rating
        from board b
        join board_star bs on b.board_id = bs.board_id
        where b.board_is_delete = 0 and b.board_id = ${boardId}
    </select>

    <update id="updateBoard">
        update msa_board.board
        SET board_title = #{boardTitle},
            board_region = #{boardRegion},
            board_content = #{boardContent}
        WHERE board_id = #{boardId};
    </update>

    <update id="deleteBoard">
        update board
        set board_is_delete = 1
        where board_id = #{boardId}
    </update>

    <select id="checkBoardExist" resultType="java.lang.Boolean">
        select exists(select 1
                      from board
                      where board_id = #{boardId});

    </select>
</mapper>
